@import './all.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
  font-size: $small;
  color: $black;

  a {
    color: $blue;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
      transition: opacity 0.5s, visibility 0s 0.5s;
    }
  }

  .reset-opacity {
    &:hover {
      opacity: 1;
    }
  }

  p {
    line-height: 25px;
  }
}