@import '../../assets/scss/all.scss';

.badge {
  color: $snow;
  display: inline-block;
  border-radius: 4px;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 0.8em !important;
  font-weight: 400 !important;

  &--red {
    background-color: $red;
  }

  &--emeraud {
    background-color: $emeraud;
  }

  &--darkBlue {
    background-color: $darkBlue;
  }

  &--blue {
    background-color: $blue;
  }

  &--lightGrey {
    background-color: $lightGrey;
    color: $black;
  }
}