@import '../../assets/scss/all.scss';

@mixin button {
  display: inline-block;
  box-sizing: border-box;
  min-width: 190px;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-transform: uppercase;
  line-height: 19px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: none;
}

.button {
  @include button;
  border-radius: 3px;

  &:hover {
    opacity: 0.85;
    transition: opacity 0.5s, visibility 0s 0.5s;
  }

  &--red {
    background-color: $red;
    color: $snow;
  }

  &--emeraud {
    background-color: $emeraud;
    color: $snow;
  }

  &--transparentEmeraud{
    background-color: transparent;
    color: $emeraud;
    border: 2px solid $emeraud !important;
  }

  &--lightGrey {
    background-color: $lightGrey;
    color: $black;
  }

  &--transparent {
    background-color: transparent;
    color: $black;
    border: 2px solid $black !important;
  }

  &--transparentSnow {
    background-color: transparent;
    color: $snow;
    border: 2px solid $snow !important;
  }

  &--greenSea{
    background-color: transparent;
    color: $greenSea;
    border: 2px solid $greenSea !important;
  }

  &--blue {
    background-color: $blue;
    color: $snow;
  }

  &--transparentDarkBlue{
    background-color: transparent;
    color: $darkBlue;
    border: 2px solid $darkBlue !important;
  }
}

.button-rounded {
  @include button;
  border-radius: 27.5px;
}