@import "../../../assets/scss/all.scss";

.dnd-list {
  margin-top: 3em;
  margin-bottom: 3em;

  .dnd-element {
    box-shadow: 0 0 0 2px $lightGrey;
    -webkit-box-shadow: 0 0 0 2px $lightGrey;
    -moz-box-shadow: 0 0 0 2px $lightGrey;
    padding: 1em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    div {
      display: flex;
      align-items: center;
      vertical-align: middle;

      &:last-child {
        font-size: 1.5em;
        font-weight: 700;
        
        span {
          position: relative;
          top: -5px;
        }
      }

      .badge {
        margin-left: 0.5em;
      }
    }

    .modal {
      position: absolute;
      top: 200;
      right: 0;
      background-color: $snow;
      font-weight: 400 !important;
      font-size: 1em !important;
    }
  }
}