@import '../../assets/scss/all.scss';

.toast {
  color: $snow;
  display: inline-block;
  border-radius: 4px;
  padding-top: 1.4em;
  padding-bottom: 1.4em;
  padding-left: 1.2em;
  padding-right: 4em;
  min-width: 100px;
  position: fixed;
  margin: 1em;
  top: 0;
  right: 0;
  z-index: 1;

  .close {
    position: absolute;
    width: 1em;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &--red {
    background-color: $red;
  }

  &--emeraud {
    background-color: $emeraud;
  }

  &--darkBlue {
    background-color: $darkBlue;
  }

  &--blue {
    background-color: $blue;
  }

  &--lightGrey {
    background-color: $lightGrey;
    color: $black;
  }
}

.hidden-toast {
  display: none;
}