@import '../../assets/scss/all.scss';

main {
  header {
    padding: 1.5em;
    background-image: url('../../assets/images/home/header.svg');
    background-size: cover;
    background-repeat: no-repeat;

    nav {
      display: flex;
      justify-content: space-between;

      ul {
        list-style: none;
      }
    }

    .informations {
      margin-top: 12%;
      margin-bottom: 12%;
      margin-left: 5%;
      margin-right: 5%;

      h1 {
        font-weight: 400;
        max-width: 12em;
        line-height: 1.5em;
        margin-bottom: 1em;
        color: $darkBlue;
        font-size: $big;

        span {
          font-weight: 700;
        }
      }
    }

    .socials {
      margin-left: calc(5% - 0.8em);
      margin-right: calc(5% - 0.8em);
      display: flex;
      align-items: center;

      a {
        margin-left: 0.8em;
        margin-right: 0.8em;
      }
    }
  }

  section#blue {
    background-color: $blue;
    color: $snow;
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 2em;
    padding-right: 2em;

    .center {
      text-align: center;
    }

    h2 {
      font-weight: 700;
      max-width: 12em;
      line-height: 1.5em;
      font-size: $big;
      margin-top: 1.5em;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    
    p {
      max-width: 55em;
      margin-top: 3em;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    .cases {
      text-align: center;
      margin-top: 6em;
      margin-left: -2em;
      margin-right: -2em;

      .case {
        display: inline-block;
        margin-left: 2em;
        margin-right: 2em;

        img {
          width: 5em;
        }

        div {
          margin-top: 1em;
        }
      }
    }
  }

  section#white {
    display: flex;
    flex-wrap: wrap;
    padding-top: 6em;
    padding-bottom: 5em;
    margin-left: calc(10% - 2em);
    margin-right: calc(10% - 2em);

    .col {
      flex: 0 calc(50% - 4em);
      padding-left: 2em;
      padding-right: 2em;

      h3 {
        font-size: $medium;
      }

      p {
        margin-top: 2em;
      }

      .point {
        display: flex;
        margin-bottom: 2em;

        div {
          &:last-child {
            margin-top: 0.5em;
            margin-left: 1.5em;
          }

          span {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $darkBlue;
            color: $snow;
            height: 3em;
            width: 3em;
            border-radius: 3em;
          }

          .title {
            font-weight: 700;
          }
        }
      }
    }
  }

  footer {
    .illustration {
      background-image: url('../../assets/images/home/footer.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 10em;
      padding-bottom: 10em;
      padding-left: 10%;
      padding-right: 10%;
  
      .card {
        text-align: center;
        padding-top: 4em;
        padding-bottom: 4em;
  
        .title {
          font-weight: bold;
          font-size: $medium;
          margin-bottom: 1em;
        }
  
        p {
          margin-bottom: 2.5em;
        }
      }
    }

    .line {
      padding: 1.5em;
      background-color: $darkBlue;
      color: $snow;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;

      div {
        &:last-child {
          display: flex;
          align-items: center;
          margin-left: -0.5em;
          margin-right: -0.5em;

          .social {
            margin-left: 0.5em;
            margin-right: 0.5em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  main {
    header {
      nav {
        display: block;
        text-align: center;

        ul {
          margin-top: 2em;
        }
      }

      .informations {
        text-align: center;

        h1 {
          max-width: 100%;
        }
      }

      .socials {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  section#blue {
    .cases {
      .case {
        margin-bottom: 4em;
        width: calc(50% - 4em);
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  section#white {
    display: block !important;

    .col {
      .point {
        &:first-child {
          margin-top: 4em;
        }
      }
    }
  }

  footer {
    .line {
      text-align: center;
      display: block !important;

      div {
        margin-top: 1em;
        margin-bottom: 1em;

        &:last-child {
          margin-top: 2em;
          justify-content: center;
        }
      }
    }
  }
}