@import '../../assets/scss/all.scss';

.social {
  display: flex;
  align-items: center;
  border: 2px solid $snow;
  padding: 1em;
  width: 1.2em;
  height: 1.2em;
  border-radius: 5em;

  img {
    width: 100%;
  }
}

.social-small {
  padding: 0.8em;
  width: 0.8em;
  height: 0.8em;
}