@import '../../assets/scss/all.scss';

@mixin space {
  padding-left: 5%;
  padding-right: 5%;
}

@mixin modal {
  display: none;
  box-shadow: 1px 1px 4px 0 $darkGrey;
  background-color: $snow;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 50%;
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: calc(1.2em - 0.8em);
  padding-bottom: calc(1.2em - 0.8em);
  min-width: 100px;

  li {
    list-style: none;
    color: $blue;
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
  }
}

.appLayout {
  background-color: $lightGrey;
  min-height: 100vh;

  header {
    @include space;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $snow;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    box-shadow: 0 -1px 7px 0 $darkGrey;

    ul {
      list-style: none;
      margin-left: -1.3em;
      margin-right: -1.3em;
      
      li {
        display: inline-block;
        margin-left: 1.3em;
        margin-right: 1.3em;
      }
    }
  }

  section {
    @include space;
    margin-top: 3em;
    padding-bottom: 3em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    .col {
      background-color: $snow;
      box-shadow: 1px 1px 4px 0 $darkGrey;
      border-radius: 4px;

      &:first-child {
        margin-right: 1em;
        flex: 0 calc(25% - 1em);
        align-items: flex-start;
      }

      &:last-child {
        margin-left: 1em;
        flex: 0 calc(75% - 1em);
      }

      .col-space {
        margin-top: 2em;
        margin-bottom: 2em;
        padding-left: 3em;
        padding-right: 3em;
        position: relative;

        .title {
          font-weight: 500;
        }

        .action-button {
          position: absolute;
          top: 0;
          right: 3em;
        }
  
        .links {
          padding-top: 2em;
  
          a {
            display: block;
            padding-top: 1.2em;
            padding-bottom: 1.2em;
            color: $black;
          }
  
          a.active {
            background-color: rgba(32,145,220, 0.07);
            margin-left: -3em;
            margin-right: -3em;
            padding-left: 3em;
            padding-right: 3em;
            border-left: 2px solid $blue;
          }
        }
  
        .link-space {
          margin-top: 1.5em;
          display: block;
        }
  
        form {
          margin-top: 3em;
          margin-bottom: 3em;
          display: flex;
          flex-wrap: wrap;
          margin-left: -1em;
          margin-right: -1em;

          .line {
            flex: 0 calc(50% - 2em);
            margin-left: 1em;
            margin-right: 1em;
            margin-bottom: 2em;

            &:last-child {
              margin-top: 1em;
              margin-bottom: 0;
            }
          }
        }

        .block {
          margin-top: 3em;
          margin-bottom: 3em;

          .line {
            box-shadow: 0 0 0 2px $lightGrey;
            -webkit-box-shadow: 0 0 0 2px $lightGrey;
            -moz-box-shadow: 0 0 0 2px $lightGrey;
            padding: 1em;
            margin-top: 0.8em;
            margin-bottom: 0.8em;
            border-radius: 4px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            .modal {
              @include modal;
            }
            
            .modal-active {
              display: block;
            }

            .group {
              &:last-child {
                span {
                  font-weight: bold;
                  cursor: pointer;
                }
              }
            }
          }

          .actions {
            margin-top: 3em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .appLayout {
    section {
      display: block;

      .col {
        display: block;
        padding-top: 0.2em;
        padding-bottom: 0.2em;

        .col-space {
          .action-button {
            position: static;
            margin-top: 1em;
            margin-bottom: 1em;
          }
        }

        &:first-child {
          margin-right: 0;
          margin-bottom: 2em;
        }

        &:last-child {
          margin-left: 0;

          form {
            display: block;

            .line {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .appLayout {
    header {
      display: block;

      nav {
        margin-top: 2em;
      }
    }
  }
}