@import '../../assets/scss/all.scss';

.card {
  box-shadow: 0 2px 10px 0 rgba(172, 166, 166, 0.5);
  padding: 2em;
  position: relative;
  background-color: $snow;

  .close {
    width: 1em;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.hidden-card {
  display: none;
}