@import "../../../assets/scss/all.scss";

.line {
  &:last-child {
    flex: 0 100% !important;

    .space {
      margin-left: 1em;
    }
  }
}

@media screen and (max-width: $mobile) {
  .line {
    &:last-child {
      .space {
        margin-left: 0;
        margin-top: 1em;
        display: block;
      }
    }
  }
}
