@import '../../assets/scss/all.scss';

.line {
  .textfield {
    font-family: inherit;
    font-size: inherit;
    color: $black;
    padding: 1em;
    border: none;
    box-shadow: 0 0 0 1px $lightGrey;
    -webkit-box-shadow: 0 0 0 1px $lightGrey;
    -moz-box-shadow: 0 0 0 1px $lightGrey;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    outline: none;
    filter: none;
    -webkit-appearance: none;
  
    &:focus {
      box-shadow: 0 0 0 3px $lightGrey;
      -webkit-box-shadow: 0 0 0 3px $lightGrey;
      -moz-box-shadow: 0 0 0 3px $lightGrey;
    }

    &::placeholder {
      color: $black;
    }
  }

  label {
    display: inline-block;
    margin-bottom: 0.8em;
    font-weight: 500;
  }
}

.textfield-invalid {
  box-shadow: 0 0 0 1px $red;
  -webkit-box-shadow: 0 0 0 1px $red;
  -moz-box-shadow: 0 0 0 1px $red;

  &:focus {
    box-shadow: 0 0 0 3px $red;
    -webkit-box-shadow: 0 0 0 3px $red;
    -moz-box-shadow: 0 0 0 3px $red;
  }
}