@import '../../assets/scss/all.scss';

.authLayout {
  display: flex;
  flex-wrap: wrap;
  background-color: $darkBlue;
  height: 100vh;

  .center {
    text-align: center;

    .link-space {
      display: inline-block;
      margin-top: 1em;
    }
  }

  .center-block {
    margin-left: auto;
    margin-right: auto;
  }

  .center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .align-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .space-top {
      margin-top: 5em;
    }

    .space-bottom {
      margin-bottom: 5em;
    }
  }

  .col {
    &:first-child {
      flex: 35%;
      background-color: $snow;

      form {
        padding-left: 2em;
        padding-right: 2em;

        .back {
          color: $blue;
          margin-bottom: 1em;
          display: inline-block;
          cursor: pointer;

          &:hover {
            opacity: 0.7;
            transition: opacity 0.5s, visibility 0s 0.5s;
          }
        }

        .line {
          margin-bottom: 2em;

          input {
            min-width: 20em;
          }
        }
      }
    }

    &:last-child {
      flex: 65%;
      background-color: $darkBlue;
      color: $snow;
      height: 100vh;

      img {
        width: 40em;
      }

      p {
        margin-top: 2em;
      }
    }

    span {
      display: block;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.3em;
      margin-top: 1em;
    }
  }
}

@media screen and (max-width: $tablet) {
  .authLayout {
    display: block;

    .align-vertical {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      .space-top {
        margin-top: 2em;
      }
  
      .space-bottom {
        margin-bottom: 2em;
      }
    }

    .col {
      &:first-child {
        height: 100vh;
        overflow: hidden;
      }

      &:last-child {
        height: initial;
        padding-top: 4em;
        padding-bottom: 4em;
        padding-left: 2em;
        padding-right: 2em;

        img {
          width: 80% !important;
        }
      }
    }
  }
}